YUMTECH_DATA_DIR='/var/lib/yumtech'
YUMTECH_DB_PASSWORD='CHANGE_ME'
BITCOIN_RPC_HOST='host.docker.internal'
BITCOIN_RPC_PORT='8332'
BITCOIN_RPC_USER='CHANGE_ME'
BITCOIN_RPC_PASS='CHANGE_ME'
BITCOIN_ZMQ_HOST='host.docker.internal'
BITCOIN_ZMQ_RAWBLOCK_PORT='28332'
BITCOIN_ZMQ_HASHBLOCK_PORT='28334'
BITCOIN_IPC_SOCKET=''
BITCOIN_IPC_TEMPLATE='true'
BITCOIN_IPC_FEE_THRESHOLD='0'
YUMTECH_DASHBOARD_BIND='0.0.0.0'
